@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
	box-sizing: border-box;
}
body{
	background-color: #28223F;
	font-family: Montserrat, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	mt10
	margin: 0;
}
h3{
	margin: 10px 0;
}
h6{
	margin: 5px 0;
	text-transform: uppercase;
}
.card-container img{
	object-fit: contain;
	width: 60px;
	height: 60px;
}
p{
	font-size: 14px;
	line-height: 21px;
}
.card-container{
	/* z-index: 99; */
	background-color: #2d2943;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
	margin-top: 80px;
}
.card-container .pro{
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}
.card-container .round{
	border: 2px solid #03BFCB;
	border-radius: 50%;
	/* padding: 7px; */
}
button.primary{
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
  transition: 0.4s;
  cursor: pointer;
}
button.primary:hover{
	background-color: transparent;
	color: #02899C;
}
.skills{
	background-color: #2d2943;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}
.skills ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.skills ul li{
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
  transition: 0.4s;
}
.skills a{
	 color: #e9e9efbc;

}
.skills a:hover{
	color: #000;
}
.skills ul li:hover{
  background-color: #03BFCB;
  border: 1px solid #03BFCB;
  border-radius: 3px;
  color: #231E39;
  cursor: pointer;
}
a{
	text-decoration: none;
}
.buttons a{
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 30px;
  transition: 0.4s;
  cursor: pointer;
  font-size: 13px;
  margin-left: 3px;
  margin-right: 3px;
}
a:hover{
	background-color: transparent;
	color: #02899C;
transform: scale(1.1);
	transition: 0.6s;
}
.square{
	width: 150px;
	height: 170px;
	border: 10px solid blue ;
	animation: soft 7s 0.7s infinite ease-in-out;
	/* animation: */
}
@keyframes soft {
0%{
	transform: scale(0) rotate(0deg)
	;
	opacity: 1;
}
100%{
	transform: scale(3) rotate(960deg);
	opacity: 0;;
}

}.square3{
	position:absolute;
	top: 0;
	width: 150px;
	height: 170px;
	border: 10px solid blue ;
	animation: soft 7s 0.7s infinite ease-in-out;
	/* animation: */
}
@keyframes soft {
0%{
	transform: scale(0) rotate(0deg)
	;
	opacity: 1;
}
100%{
	transform: scale(3) rotate(960deg);
	opacity: 0;;
}

}.square1{
	position: absolute;
	/* left: 520px; */
	top: 100px;
	width: 150px;
	height: 170px;
	border: 10px solid blue ;
	animation: soft 7s 0.7s infinite ease-in-out;
	/* animation: */
}
@keyframes soft {
0%{
	transform: scale(0) rotate(0deg)
	;
	opacity: 1;
}
100%{
	transform: scale(3) rotate(960deg);
	opacity: 0;;
}

}.squar{
	position: absolute;
	/* right: 520px; */

	width: 150px;
	height: 170px;
	border: 10px solid blue ;
	animation: sof 7s 0.7s infinite ease-in-out;
	/* animation: */
}
@keyframes sof {
0%{
	transform: scale(0) rotate(0deg)
	;
	opacity: 1;
}
100%{
	transform: scale(1) rotate(960deg);
	opacity: 0;;
}

}
/* body { */
	/* display: flex;  */
	/* justify-content: center; */
	/* align-items: center; */
	/* width: 100%;
	min-height: 100vh; */
	/* background: #000;
	overflow: hidden;
  }
   */
  .glowing {
	position: relative;
	min-width: 1800px;
	height: 0px;
	margin: -90px;
	transform-origin: right;
	animation: colorChange 5s linear 
  }
  
  .glowing:nth-child(even) {
	transform-origin: left;
  }
  
  @keyframes colorChange {
	0% {
	  filter: hue-rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  filter: hue-rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  .glowing span {
	position: absolute;
	top: calc(80px * var(--i));
	left: calc(80px * var(--i));
	bottom: calc(80px * var(--i));
	right: calc(80px * var(--i));
  }
  
  .glowing span::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -8px;
	width: 15px;
	height: 15px;
	background: #f00;
	border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
	background: rgba(134,255,0,1);
	box-shadow: 0 0 20px rgba(134,255,0,1),
	  0 0 40px rgba(134,255,0,1),
	  0 0 60px rgba(134,255,0,1),
	  0 0 80px rgba(134,255,0,1),
	  0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
	background: rgba(255,214,0,1);
	box-shadow: 0 0 20px rgba(255,214,0,1),
	  0 0 40px rgba(255,214,0,1),
	  0 0 60px rgba(255,214,0,1),
	  0 0 80px rgba(255,214,0,1),
	  0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
	background: rgba(0,226,255,1);
	box-shadow: 0 0 20px rgba(0,226,255,1),
	  0 0 40px rgba(0,226,255,1),
	  0 0 60px rgba(0,226,255,1),
	  0 0 80px rgba(0,226,255,1),
	  0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
	animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
	animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
	animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
	0% {
	  transform: rotate(180deg);
	}
	50% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes animate-reverse {
	0% {
	  transform: rotate(360deg);
	}
	
	50% {
	  transform: rotate(180deg);
	}
	
	100% {
	  transform: rotate(0deg);
	  
	}
  }
@media (max-width:360px){
	.glowing{
		max-width:  100px;
	}
	.glowing.span{
		width: 200px;
	}

	car
}
.dev{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.devel h1{
margin-top: 40px;
margin-bottom: 20px;
font-size: 20px;
} 
.dev a{
	color: #B3B8CD;
	border: 1px solid #c8bebe;
	padding: 10px 10px;
}